.cdp-article-single figure {
  max-width: 100%;
}

.cdp-article-single figcaption {
  color: #5b6168;
  font-size: 14px;
  padding: 5px 0;
}

.cdp-article-single iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.cdp-article-single img {
  max-width: 100%;
  height: auto;
}

.cdp-article-single-media {
  display: flex;
  margin: 0 auto 26px;
  position: relative;
}

.cdp-article-single-content {
  padding: 10px 0;
}

.cdp-article-single-title {
  margin-top: 0;
}

.alignleft {
  float: left;
  margin-right: 1em;
}

.alignright {
  float: right;
  margin-left: 1em;
}

.aligncenter,
.alignnone {
  display: block;
  margin: 0 auto;
}
