.cdp-event-single figure {
  max-width: 100%;
}

.cdp-event-single figcaption {
  color: #5b6168;
  font-size: 14px;
  padding: 5px 0;
}

.cdp-event-single iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.cdp-event-single img {
  max-width: 100%;
  height: auto;
}

.cdp-event-single-img {
  max-width: 100%;
  height: auto;
}

.cdp-event-single-title {
  margin-top: 0;
}

.cdp-event-single-media {
  display: flex;
  margin: 0 auto 1em;
  padding: 0 1.5em;
  position: relative;
}

.cdp-event-single-meta-container,
.cdp-event-single-desc-container,
.cdp-event-single-speakers-container {
  margin: 1em 0 2em;
}

.cdp-event-single-meta-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
}

.cdp-event-single-meta > p {
  margin: 0;
  line-height: 1.3em;
}

.cdp-event-single-content {
  padding: 0 0 10px;
}


.alignleft {
  float: left;
  margin-right: 1em;
}

.alignright {
  float: right;
  margin-left: 1em;
}

.aligncenter,
.alignnone {
  display: block;
  margin: 0 auto;
}
